
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>

        <hr />
        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Celular</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

</div>

<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body g-2">

                <input id="txtid" type="hidden" value="0" />
                <div class="row">


                    <div class="col-sm-6">
                        <label for="txtnombres" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="txtnombres">
                    </div>


                    <div class="col-sm-6">
                        <label for="txtapellidos" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="txtapellidos">
                    </div>

                    <div class="col-sm-6">
                        <label for="txtcorreo" class="form-label">Correo</label>
                        <input type="text" class="form-control" id="txtcorreo">
                    </div>

                    <div class="col-sm-6">
                        <label for="num" class="form-label">Celular</label>
                        <input type="number" class="form-control" id="num" >
                    </div>

                    

                   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>


         var tablaData

         

        tablaData = $("#tabla").DataTable({

            responsive: true,
            ordening: false,
            "ajax": {
                url: '@Url.Action("ListarUsuarios", "Home")',
                type: "GET",
                dataType: "json"

            },
            "columns": [
                { "data": "nombre_usuario" },
                { "data": "apellido_usuario" },
                { "data": "correo_usuario" },
                { "data": "celular_usuario" },
                {
                    "defaultContent": ' <button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        ' <button type="button" class="btn btn-danger btn-sm ms-2"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ],
            "lenguage": {
                "url": "//cdn.datatables.net/plug-ins/2.0.7/i18n/es-MX.json"
            }
        });

        function abrirModal(json) {

            $("#txtid").val(0);
            $("#txtnombres").val("");
            $("#txtapellidos").val("");
            $("#txtcorreo").val("");
            $("#num").val("");


            if (json != null) {
                $("#txtid").val(json.ID_Usuario);
                $("#txtnombres").val(json.nombre_usuario);
                $("#txtapellidos").val(json.apellido_usuario);
                $("#txtcorreo").val(json.correo_usuario);
                $("#num").val(json.celular_usuario);
                

            }
            $("#FormModal").modal("show");



        }

        $("#tabla tbody").on("click", '.btn-editar', function () {

            var filaSeleccionada = $(this).closest("tr");

            var data = tablaData.row(filaSeleccionada).data();

            console.log(data)

            abrirModal(data)
            
        })


        function Guardar() {
            var Usuario = {
                ID_Usuario: $("#txtid").val(),
                nombre_usuario: $("#txtnombres").val(),
                apellido_usuario: $("#txtapellidos").val(),
                correo_usuario: $("#txtcorreo").val(),
                celular_usuario: $("#num").val()
            }

            if (Usuario.ID_Usuario == 0) {
                tablaData.row.add(Usuario).draw(false);

            } else {
                alert("editar usuario")
            }

            $("#FormModal").modal("hide");
        }

    </script>

}