
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Resumen</a></li>
    <li class="breadcrumb-item active">Usuarios</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success">Crear Nuevo</button>
            </div>
        </div>
    </div>

    <hr />
    <table id="tabla" class="display cell-border" style="width:100%">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Correo</th>
                <th>Activo</th>
            </tr>
        </thead>
    </table>


</div>

 @section scripts{
     <script>


         var tablaData

         jQuery.ajax({

             url: '@Url.Action("listarUsuarios", "Home")',
             type: "GET",
             dataType: "json",
             contentType: "application/json; charset= utf-8",

             success: function (data) {
                 
                 console.log(data);
             }
         })

         tablaData = $("#tabla").DataTable();
     </script>
     
     }